div#bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  zoom: 1;
 
  opacity:1;
  transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
}
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.container {
  margin: auto;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f9f9f9; */
  height: 100%;
  /* background-image: url("preview1.jpg"); */
  /* background-size: cover; */

}
h1{

  color:#265ffd;

}



.card {
  background: rgba(255, 255, 255, 0.7);
  
  background-size: contain;
  border-radius: 10px;
  box-shadow: 0 10px 30px -5px rgba(60, 60, 60, 0.2);
  text-align: center;
  padding: 30px 60px;
}
.card img {
  background-color: #dddfe6;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: auto auto 15px;
  display: block;
}
.card h1 {
  font-size: 22px;
  margin: 10px auto 0;
  letter-spacing: 1px;
}
.card h2 {
  margin: auto;
  color: #b1b6c6;
  font-weight: 300;
  font-size: 14px;
}
.card .button {
  display: block;
  text-decoration: none;
  background: #1856fb;
  color: #f9f9f9;
  padding: 12px;
  border: none;
  border-radius: 25px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  min-width: 200px;
  transition: 0.2s;
}
.card .button span {
  font-size: 20px;
  line-height: 1;
  vertical-align: top;
}
.card .button:hover {
  background: #3b70fc;
}



.card .button1 {
  display: block;
  text-decoration: none;
  background: #000000;
  color: #f9f9f9;
  padding: 12px;
  border: none;
  border-radius: 25px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  min-width: 200px;
  transition: 0.2s;
}
.card .button1 span {
  font-size: 20px;
  line-height: 1;
  vertical-align: top;
}
.card .button1:hover {
  background: #535353;
}



.card .button2 {
  display: block;
  text-decoration: none;
  background: #ff6600;
  color: #f9f9f9;
  padding: 12px;
  border: none;
  border-radius: 25px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  min-width: 200px;
  transition: 0.2s;
}
.card .button2 span {
  font-size: 20px;
  line-height: 1;
  vertical-align: top;
}
.card .button2:hover {
  background: #ff8146;
}




.card .button3 {
  display: block;
  text-decoration: none;
  background: #ff0000;
  color: #f9f9f9;
  padding: 12px;
  border: none;
  border-radius: 25px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  min-width: 200px;
  transition: 0.2s;
}
.card .button3 span {
  font-size: 20px;
  line-height: 1;
  vertical-align: top;
}
.card .button3:hover {
  background: #ff5d5d;
}




.card .button4 {
  display: block;
  text-decoration: none;
  background: #3385ff;
  color: #f9f9f9;
  padding: 12px;
  border: none;
  border-radius: 25px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  min-width: 200px;
  transition: 0.2s;
}
.card .button4 span {
  font-size: 20px;
  line-height: 1;
  vertical-align: top;
}
.card .button4:hover {
  background: #95b1ff;
}

